services:
  main:
    build:
      context: .
      args:
        - ARCHITECTURE=x86
        - OPENSSL_LIB_SUFFIX=3
        - OPENSSL_VERSION=3.2.0
        - RUST_VERSION=1.93.0
        - TCL_VERSION=17.x
      dockerfile: Dockerfile
      tags:
        - linichotmailca/tcl-core-rust-i586:1.93.0
        - linichotmailca/tcl-core-rust-i586:latest

